[submodule "JavaOlaMundo"]
	path = JavaOlaMundo
	url = https://github.com/androidaccelerate/JavaOlaMundo.git
[submodule "JavaVariaveisControleFluxo"]
	path = JavaVariaveisControleFluxo
	url = https://github.com/androidaccelerate/JavaVariaveisControleFluxo.git
[submodule "JavaIntroOrientacaoObjetos"]
	path = JavaIntroOrientacaoObjetos
	url = https://github.com/androidaccelerate/JavaIntroOrientacaoObjetos.git
[submodule "JavaIntroducaoArrays"]
	path = JavaIntroducaoArrays
	url = https://github.com/androidaccelerate/JavaIntroducaoArrays.git
